@*@model RentingGown.Models.Gowns

    @{
        ViewBag.Title = "AddGown";
    }


    <h2>הוסף שמלה</h2>
    <script>
        function ChangeTypeToText()
        {
            document.getElementById("pass").type = 'text';
        }
        function ChangeTypeToPass()
        {
            document.getElementById("pass").type = 'password';
        }
        function NumberChanged() {
            var q = document.getElementById("set").value;
            if (q > 1)
                document.getElementById("fileset").innerHTML = "<div class='form-group'> <label class='control-label col-md-2'>תמונת הסט</label> <div class='col-md-10'><input type='file' required accept='image/*'   id='fileset' name='fileset'/></div></div>";
            else document.getElementById("fileset").innerHTML = "";
            document.getElementById("files").innerHTML = "<div class='form-group'> <label class='control-label col-md-2'>תמונה" + 1 + "</label> <div class='col-md-10'><input type='file' accept='image/*' required  id='file" + 1 + "'name='file1'  onchange='CreateArr()'/></div></div>";
            document.getElementById("sizes").innerHTML = "<div class='form-group'> <label class='control-label col-md-2'>מידה" + 1 + "</label> <div class='col-md-10'><input type='number'required  id='size" + 1 + "'  onchange='CreateArr()'/></div></div>";
            for (var i = 1; i < q; i++) {
                document.getElementById("files").innerHTML += "<div class='form-group'> <label class='control-label col-md-2'>תמונה" + (i + 1) + "</label> <div class='col-md-10'><input type='file' accept='image/*' required  id='file" + (i + 1) + "' name='file" + (i + 1) + "' onchange='CreateArr()'/></div></div>";
                document.getElementById("sizes").innerHTML += "<div class='form-group'> <label class='control-label col-md-2'>מידה" + (i + 1) + "</label> <div class='col-md-10'><input type='number' required id='size" + (i + 1) + "' onchange='CreateArr()'/></div></div>";
            }
        }
        function CreateArr() {
            var num = document.getElementById("set").value;
            document.getElementById("arrFiles").value = "";
            document.getElementById("arrSizes").value = "";
            for (var i = 1; i <= num; i++) {
                var value = document.getElementById("file" + i).value;
                document.getElementById("arrFiles").value += value + "?";
                value = document.getElementById("size" + i).value;
                document.getElementById("arrSizes").value += value + " ";
            }
        }
    </script>
    <form method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2">סיסמה</label>
                <div class="col-md-10">
                    <input type="password" required maxlength="4" minlength="4" name="password" id="pass"/>
                    <img src="~/Images/eye.png" id="imgEye" style="    position: absolute !important;top: 33% !important;right: 13% !important;" onmouseover="ChangeTypeToText()" onmouseout="ChangeTypeToPass()"/>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.id_catgory, "קטגוריה", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id_catgory", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_catgory, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.id_season, "עונה", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id_season", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_season, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">ארוך/קצר</label>
                <div class="col-md-10">
                    <select name="is_long">
                        <option>ארוך</option>
                        <option>קצר</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.price, "מחיר", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">בהיר/כהה</label>
                <div class="col-md-10">
                    <select name="is_light">
                        <option>בהיר</option>
                        <option>כהה</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.color, "צבע", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("color", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.color, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <label class="control-label col-md-2">מספר שמלות</label>
                <div class="col-md-10">
                    <input type="number" name="num_of_dress" id="set" min="1" value="1" onchange="NumberChanged()" />
                </div>
            </div>
            <div id="fileset"></div>
            <div id="files"><div class='form-group'> <label class='control-label col-md-2'>תמונה 1</label> <div class='col-md-10'><input type='file' id='file1' name="file1" accept="image/*" required onchange="CreateArr()" /></div></div></div>
            <div id="sizes"><div class='form-group'> <label class='control-label col-md-2'>מידה 1</label> <div class='col-md-10'><input type='number' id='size1'name="size1"  required onchange="CreateArr()" /></div></div></div>

            <input type="hidden" id="arrFiles" name="arrFiles" />
            <input type="hidden" id="arrSizes" name="arrSizes" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="הוסף שמלה" class="btn btn-default" />
                </div>
            </div>
            <h3 class="@ViewBag.classs">
                @ViewBag.ErrorExistsPassword
            </h3>
        </div>
    </form>*@


@model RentingGown.Models.Gowns
@{
    ViewBag.Title = "AddGown1";
}


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="creativelayers">

    <title>Prolist - Directory Listing HTML Template</title>

    <!-- Styles -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/Content/line-awesome.min.css" rel="stylesheet" />
    <!-- Icons -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Style -->
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <!-- Responsive -->
    <link href="~/Content/colors/colors.css" rel="stylesheet" />
    <!-- color -->
    <link href="~/Content/myStyle.css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/png" href="~/images/favicon.ico" />
    <script>
        function ChangeTypeToText() {
            document.getElementById("pass").type = 'text';
        }
        function ChangeTypeToPass() {
            document.getElementById("pass").type = 'password';
        }
        function NumberChanged() {
            var numOfGowns = document.getElementById("set").value;
            //'<div class="col-md-12"><h4>1)</h4></div><div class="col-md-6"><span>תמונה</span><input type="file" accept="image/*"></div><div class="col-md-6"><span>מידה</span><input type="number" /></div>'
            //if (numOfGowns > 1)
            //    document.getElementById("filesAndSizes").innerHTML = "<div class='form-group'> <label class='control-label col-md-2'>תמונת הסט</label> <div class='col-md-10'><input type='file' required accept='image/*'   id='fileset' name='fileset'/></div></div>";
            //else
            document.getElementById("filesAndSizes").innerHTML = "";
            // document.getElementById("files").innerHTML = "<div class='form-group'> <label class='control-label col-md-2'>תמונה" + 1 + "</label> <div class='col-md-10'><input type='file' accept='image/*' required  id='file" + 1 + "'name='file1'  onchange='CreateArr()'/></div></div>";
            //document.getElementById("sizes").innerHTML = "<div class='form-group'> <label class='control-label col-md-2'>מידה" + 1 + "</label> <div class='col-md-10'><input type='number'required  id='size" + 1 + "'  onchange='CreateArr()'/></div></div>";
            for (var i = 0; i < numOfGowns; i++) {
                document.getElementById("filesAndSizes").innerHTML += '<div class="col-md-12"><h4>' + (i + 1) + ')</h4></div><div class="col-md-6"><span>תמונה</span><input type="file" accept="image/*"></div><div class="col-md-6"><span>מידה</span><input type="number" /></div>';
                //document.getElementById("sizes").innerHTML += "<div class='form-group'> <label class='control-label col-md-2'>מידה" + (i + 1) + "</label> <div class='col-md-10'><input type='number' required id='size" + (i + 1) + "' onchange='CreateArr()'/></div></div>";
            }
        }
        function CreateArr() {
            var num = document.getElementById("set").value;
            document.getElementById("arrFiles").value = "";
            document.getElementById("arrSizes").value = "";
            for (var i = 1; i <= num; i++) {
                var value = document.getElementById("file" + i).value;
                document.getElementById("arrFiles").value += value + "?";
                value = document.getElementById("size" + i).value;
                document.getElementById("arrSizes").value += value + " ";
            }
        }
    </script>
</head>
<body>
    <div class="page-loading">
        <div class="loadery"></div>
    </div>
    <div class="theme-layout">




        <section>
            <div class="block no-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="inner-header">
                                <h2>הוספת שמלה</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="block gray ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="add-listing-sec">
                                <form dir="rtl">
                                    <div class="form-listing">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>קטגוריה</h3>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="filter-dropdowns">
                                                    @Html.DropDownList("id_catgory", null, htmlAttributes: new { @class = "chosen-select", @tabindex = "2" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h3>עונה</h3>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="filter-dropdowns">
                                                    @Html.DropDownList("id_season", null, htmlAttributes: new { @class = "chosen-select", @tabindex = "2" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h3>צבע</h3>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="filter-dropdowns">
                                                    @Html.DropDownList("color", null, htmlAttributes: new { @class = "chosen-select", @tabindex = "2" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h3>תאור</h3>
                                            </div>
                                            <div class="col-md-12">
                                                <textarea placeholder="תאור"></textarea>
                                            </div>

                                            <div class="col-md-12">
                                                <h3>בהיר/כהה</h3>
                                            </div>
                                            <div class="col-md-12">
                                                <select data-placeholder="בהיר" class="chosen-select" tabindex="2">
                                                    <option value="בהיר">בהיר</option>
                                                    <option value="קצר">כהה</option>
                                                </select>
                                            </div>
                                            <div class="col-md-12">
                                                <h3>מחיר</h3>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="number">
                                            </div>
                                            <div class="col-md-12">
                                                <h3>מספר שמלות</h3>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="number" id="set" min="1" value="1" onchange="NumberChanged()">
                                            </div>
                                            <div class="col-md-12" id="filesAndSizes">
                                                <div class="col-md-12">
                                                    <h4>1)</h4>
                                                </div>
                                                <div class="col-md-4">
                                                    <span>תמונה</span>
                                                    <input type='file' accept='image/*'>
                                                </div>
                                                <div class="col-md-4">
                                                    <span>מידה</span>
                                                    <input type="number" />
                                                </div>
                                                <div class="col-md-4">
                                                    <span>ארוך/קצר</span>
                                                    <select data-placeholder="ארוך" class="chosen-select" tabindex="2">
                                                        <option value="ארוך">ארוך</option>
                                                        <option value="קצר">קצר</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <select data-placeholder="Listing Region" class="chosen-select" tabindex="2">
                                                    <option value="Listing Region">Listing Region</option>
                                                    <option value="Foods">Foods</option>
                                                    <option value="Salads">Salaads</option>
                                                    <option value="Kingston">Kingston</option>
                                                    <option value="Signing">Signing</option>
                                                </select>
                                                <input type="text" placeholder="Listing Phone">
                                                <input type="text" placeholder="Listing Mail">
                                                <input type="text" placeholder="Listing Web site">
                                            </div>
                                            <div class="col-md-5">
                                                <div class="add-listing-map">
                                                    <div id="map-container">
                                                        <div id="map_div">&nbsp;</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="uploaded-pictures-sec">
                                                    <div class="upload-gallery-pictures">
                                                        <img src="http://placehold.it/183x137" alt="" />
                                                        <span>Fixed.png</span>
                                                        <i class="la la-close"></i>
                                                    </div>
                                                    <div class="upload-gallery-pictures">
                                                        <img src="http://placehold.it/183x137" alt="" />
                                                        <span>Fixed_listing.png</span>
                                                        <i class="la la-close"></i>
                                                    </div>
                                                    <span class="click-add-pictures">Clıck to add fıles</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h3>Social</h3>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" placeholder="Facebook" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" placeholder="Twitter" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" placeholder="Youtube" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" placeholder="Linkedin" />
                                            </div>
                                            <div class="col-md-12">
                                                <h3>Opening Hours <span>(optional)</span></h3>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="toggle-box">
                                                    <h5>Add opening hours</h5>
                                                    <div class="opening-hours-add">
                                                        <ul>
                                                            <li>
                                                                <h5>Monday</h5>
                                                                <div class="hours-inputs">
                                                                    <input type="text" placeholder="Open" />
                                                                    <input type="text" placeholder="Close" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <h5>Tuesday</h5>
                                                                <div class="hours-inputs">
                                                                    <input type="text" placeholder="Open" />
                                                                    <input type="text" placeholder="Close" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <h5>Wednesday</h5>
                                                                <div class="hours-inputs">
                                                                    <input type="text" placeholder="Open" />
                                                                    <input type="text" placeholder="Close" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <h5>Thursday</h5>
                                                                <div class="hours-inputs">
                                                                    <input type="text" placeholder="Open" />
                                                                    <input type="text" placeholder="Close" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <h5>Friday</h5>
                                                                <div class="hours-inputs">
                                                                    <input type="text" placeholder="Open" />
                                                                    <input type="text" placeholder="Close" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <h5>Saturday</h5>
                                                                <div class="hours-inputs">
                                                                    <input type="text" placeholder="Open" />
                                                                    <input type="text" placeholder="Close" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <h5>Sunday</h5>
                                                                <div class="hours-inputs">
                                                                    <input type="text" placeholder="Open" />
                                                                    <input type="text" placeholder="Close" />
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h3>Restaurant Menu <span>(optional)</span></h3>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="toggle-box">
                                                    <h5>Add restaurant menu</h5>
                                                    <div class="add-menu-restaurant">
                                                        <div class="menu-restaurant">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <label>Title</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Description</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Meal Type</label>
                                                                    <select data-placeholder="Meal Type" class="chosen-select" tabindex="2">
                                                                        <option value="Meal Type">Meal Type</option>
                                                                        <option value="Foods">Foods</option>
                                                                        <option value="Salads">Salaads</option>
                                                                        <option value="Kingston">Kingston</option>
                                                                        <option value="Signing">Signing</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="menu-restaurant">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <label>Title</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Description</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Meal Type</label>
                                                                    <select data-placeholder="Meal Type" class="chosen-select" tabindex="2">
                                                                        <option value="Meal Type">Meal Type</option>
                                                                        <option value="Foods">Foods</option>
                                                                        <option value="Salads">Salaads</option>
                                                                        <option value="Kingston">Kingston</option>
                                                                        <option value="Signing">Signing</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="menu-restaurant">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <label>Title</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Description</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Meal Type</label>
                                                                    <select data-placeholder="Meal Type" class="chosen-select" tabindex="2">
                                                                        <option value="Meal Type">Meal Type</option>
                                                                        <option value="Foods">Foods</option>
                                                                        <option value="Salads">Salaads</option>
                                                                        <option value="Kingston">Kingston</option>
                                                                        <option value="Signing">Signing</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="#" title="">Add another meal</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h3>Schedule <span>(optional)</span></h3>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="toggle-box">
                                                    <h5>Add schedule plan</h5>
                                                    <div class="add-schedule-sec">
                                                        <div class="add-schedule">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label>Date</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label>Time</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Place</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Address</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="add-schedule">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label>Date</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label>Time</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Place</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Address</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="add-schedule">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label>Date</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label>Time</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Place</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Address</label>
                                                                    <input type="text" placeholder="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="#" title="">Add another schedule item</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submission-btns">
                                        <button type="submit">Preview & Submit Listing</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>

    <!-- Script -->
    <script src="~/Scripts/js/modernizr.js"></script>
    <!-- Modernizer -->
    <script src="~/Scripts/js/jquery-2.1.1.js"></script>
    <!-- Jquery -->
    <script src="~/Scripts/js/script.js"></script>
    <!-- Script -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/js/scrolltopcontrol.js"></script>
    <!-- ScrollTopControl -->
    <script src="~/Scripts/js/slick.min.js"></script>
    <!-- Slick -->
    <script src="~/Scripts/js/scrolly.js"></script>
    <!-- Slick -->
    <script src="~/Scripts/js/sumoselect.js"></script>
    <!-- Nice Select -->
    <script src="~/Scripts/js/choosen.min.js"></script>
    <!-- Nice Select -->
    <script src="~/Scripts/js/rangeslider.js"></script>
    <!-- Nice Select -->


</body>

